$system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

$color-background: #E4E6E8;
$color-border: #C1C4C7;
$color-dragPanel: #FFF;
$color-roadmapBackground: #FFF;
$color-timeline: #5E6266;
$color-blue: #1973BA;
$color-orange: #EF6031;
$width-dragPanel: 11vw;
$width-dragItem: 9.5vw;
$height-gridItem: 46px;
$height-dragItem: 38px;
$height-topMargin: 8px;

$width-barItem: 24vw;
$width-cellItem: 1vw;
$width-lane: 87vw;

$lane-maxlines: 2;
$timeline-elements: 10;
